$title-height: 5vh;
$footer-height: 3vh;

$resizer-width: 3px;
$border-color: rgba(100, 100, 100, 0.5);

$main-background-color: rgb(15, 15, 15);

.main-layout {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	background-color: $main-background-color;

	.main-layout__title {
		flex: 1;
		overflow: hidden;
		max-height: $title-height;
		min-height: $title-height;

		border-bottom: 1px solid $border-color;
	}

	.main-layout__main {
		flex: 15;
		display: flex;

		.main-layout__main-content {
			flex: 1;
			overflow: hidden;
		}

		.main-layout__main-sidebar-left,
		.main-layout__main-sidebar-right {
			position: relative;
			overflow: hidden;
		}

		.main-layout__main-sidebar-left {
			width: var(--left-sidebar-width);
		}

		.main-layout__main-sidebar-right {
			width: var(--right-sidebar-width);
		}

		.main-layout__main-col-resize {
			position: absolute;
			background-color: rgb(255, 255, 255);
			opacity: 0.5;
			width: $resizer-width;
			height: 100%;
			cursor: col-resize;
			transition: opacity 0.1s linear;

			&:hover {
				opacity: 0.8;
			}
		}
	}

	.main-layout__footer {
		flex: 1;
		max-height: $footer-height;
		min-height: $footer-height;
		overflow: hidden;

		border-top: 1px solid $border-color;
	}
}
