.auto-size {
	padding: auto;
}

.button {
	display: flex;
	cursor: pointer;
	background-color: var(--button-color);
	color: var(--text-color);
	justify-content: center;
	align-items: center;

	transition: all 0.2s ease-in-out;

	&:hover {
		background-color: var(--button-color-hover);
		color: var(--text-color-hover);
	}
}
