.new-select {
	width: 100%;
	height: var(--combobox-line-height);
	margin: auto;

	text-align: center;
	color: var(--combobox-text-color);
	line-height: var(--combobox-line-height);
	position: relative;

	.selection {
		width: 100%;
		height: 100%;
		background-color: var(--combobox-background-color);
		box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);

		cursor: pointer;
		position: relative;
		z-index: 20; /* Doit être supérieur au nombre d'option */

		transform: rotateX(0deg);
		-o-transform: rotateX(0deg);
		-ms-transform: rotateX(0deg);
		-moz-transform: rotateX(0deg);
		-webkit-transform: rotateX(0deg);
		transform-style: preserve-3d;
		-o-transform-style: preserve-3d;
		-ms-transform-style: preserve-3d;
		-moz-transform-style: preserve-3d;
		-webkit-transform-style: preserve-3d;
		transform-origin: top;
		-o-transform-origin: top;
		-ms-transform-origin: top;
		-moz-transform-origin: top;
		-webkit-transform-origin: top;
		transition: transform 200ms ease-in-out;
		-o-transition: -o-transform 200ms ease-in-out;
		-ms-transition: -ms-transform 200ms ease-in-out;
		-moz-transition: -moz-transform 200ms ease-in-out;
		-webkit-transition: -webkit-transform 200ms ease-in-out;

		p {
			width: calc(100% - 60px);
			position: relative;

			transition: all 200ms ease-in-out;
			-o-transition: all 200ms ease-in-out;
			-ms-transition: all 200ms ease-in-out;
			-moz-transition: all 200ms ease-in-out;
			-webkit-transition: all 200ms ease-in-out;
		}

		i {
			display: block;
			width: 1px;
			height: 70%;
			position: absolute;
			right: -1px;
			top: 15%;
			bottom: 15%;
			border: none;
			background-color: #bbb;
		}

		&.open > span {
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 0 8px 14px 8px;
			border-color: transparent transparent #bbb transparent;
		}

		& > span {
			display: block;
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 14px 8px 0 8px; /* Height: 14px / Width: 16px */
			border-color: #bbb transparent transparent transparent;

			position: absolute;
			transform: rotate(var(--rotation));
			transition: transform 200ms ease-in-out;
			-o-transition: -o-transform 200ms ease-in-out;
			-ms-transition: -ms-transform 200ms ease-in-out;
			-moz-transition: -moz-transform 200ms ease-in-out;
			-webkit-transition: -webkit-transform 200ms ease-in-out;
			right: 22px; /* 60 / 2 - 16 / 2 */
		}
	}

	.selection:active {
		transform: rotateX(42deg);
		-o-transform: rotateX(42deg);
		-ms-transform: rotateX(42deg);
		-moz-transform: rotateX(42deg);
		-webkit-transform: rotateX(42deg);
		transform-style: preserve-3d;
		-o-transform-style: preserve-3d;
		-ms-transform-style: preserve-3d;
		-moz-transform-style: preserve-3d;
		-webkit-transform-style: preserve-3d;
		transform-origin: top;
		-o-transform-origin: top;
		-ms-transform-origin: top;
		-moz-transform-origin: top;
		-webkit-transform-origin: top;
		transition: transform 200ms ease-in-out;
		-o-transition: -o-transform 200ms ease-in-out;
		-ms-transition: -ms-transform 200ms ease-in-out;
		-moz-transition: -moz-transform 200ms ease-in-out;
		-webkit-transition: -webkit-transform 200ms ease-in-out;
	}
}

.new-select .selection:hover p,
.new-select .selection.open p {
	color: #bdc3c7;
}

.new-option {
	text-align: center;
	background-color: var(--combobox-background-color);
	cursor: pointer;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
	position: relative;

	position: absolute;
	left: 0;
	right: 0;

	transition: all 300ms ease-in-out;
	-o-transition: all 300ms ease-in-out;
	-ms-transition: all 300ms ease-in-out;
	-moz-transition: all 300ms ease-in-out;
	-webkit-transition: all 300ms ease-in-out;
}

.new-option p {
	width: calc(100% - 60px);
}

.new-option.reveal:hover {
	background-color: var(--combobox-item-hover-color);
	color: var(--combobox-text-color);
}
