$font-size: 0.8rem;

$resize-handle-height: 0.1rem;
$resize-handle-hover-height: 0.3rem;

.sidebar {
	display: flex;
	flex-direction: column;
	height: 100%;

	.sidegroup {
		display: block;

		&-header {
			position: relative;
			padding: 0.5rem;
			color: var(--text-color);
			font-size: $font-size;
			cursor: pointer;

			&__resize-handle {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: $resize-handle-height;
				background-color: transparent;
				cursor: row-resize;
				transition: all 0.1s linear;

				&:hover {
					top: -$resize-handle-height;
					height: $resize-handle-hover-height;
					background-color: var(--text-color);
					opacity: 0.5;
				}
			}

			&__content {
				display: flex;
				gap: 0.5rem;

				&__icon {
					width: 0.5rem;
					text-align: center;
				}

				&__content {
					font-family: 'Roboto';
					user-select: none;
					text-transform: uppercase;
				}
			}
		}

		&-content {
			height: var(--height);
			transition: all 0.4s ease-in-out;
			overflow: hidden;

			&.display-none {
				flex: 0;
			}
		}
	}
}
